<h2>Desafío clase 10 </h2>

<h3> Lista de productos con Websocket</h3>

<div id="productDiv">

</div>

<button id="btn">actualizar</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>