<div style="display: flex; width: 100%;justify-content: space-between;">
  <img src="/assets/img/liquidStoreLogo.png" style="width: 150px;" />

  <ul
    style="display: flex; justify-content: space-between ;flex-direction: row; width: 350px; margin-left: 15px; "
  >
    <li>Home</li>
    <li>Products</li>
    <li>Contact</li>
    <a href="/api/vistas/profile">

      <li class="btnProfile" id="user">Profile</li>
    </a>

  </ul>
</div>