<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Products</title>
</head>
<body>
    <h1>Real-time Products</h1>
    <form id="form">
        <input type="text" id="name" placeholder="Product Name">
        <input type="text" id="description" placeholder="Product Description">
        <input type="number" id="price" placeholder="Product Price">
        <input type="text" id="thumbnail" placeholder="Product Thumbnail">
        <input type="text" id="code" placeholder="Product Code">
        <input type="number" id="stock" placeholder="Product Stock">
        <input type="text" id="category" placeholder="Product Category">
        </br>
        <button type="submit">Add Product</button>
    </form>
    <div id="products"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socketClient = io();

        const form = document.getElementById('form');
        const inputName = document.getElementById('name');
        const inputDescription = document.getElementById('description');
        const inputPrice = document.getElementById('price');
        const inputThumbnail = document.getElementById('thumbnail');
        const inputCode = document.getElementById('code');
        const inputStock = document.getElementById('stock');
        const inputCategory = document.getElementById('category');
        const products = document.getElementById('products');

        form.onsubmit = (e) => {
            e.preventDefault();
            const title = inputName.value;
            const description = inputDescription.value;
            const price = inputPrice.value;
            const thumbnail = inputThumbnail.value;
            const code = inputCode.value;
            const stock = inputStock.value;
            const category = inputCategory.value;

            const product = {
                title,
                description,
                price,
                thumbnail,
                code,
                stock,
                category
            };

            socketClient.emit('newProduct', product);
        };

        socketClient.on('products', (arrayProducts) => {
            let infoProducts = '';
            arrayProducts.map((prod) => {
                infoProducts += `${prod.title} - $${prod.price} </br>`; 
            });
            products.innerHTML = infoProducts;
        });

        socketClient.on('message', (message) => {
            console.log(message);
        });
    </script>
</body>
</html>
